[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "*"
flask-restful = "*"
mongoengine = "*"
python-dotenv = "*"
requests = "*"
dnspython = "*"
python-dateutil = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
